<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
      <h2>Cadastro de candidato</h2>
      <form>
          <div class="form-horizontal">
              <h4>Informações para pagamento</h4>
              <hr>
              <div class="form-group">
                  <label class="control-label col-md-2" for="NomeTitular">Nome do titular</label>
                  <div class="col-md-10">
                      <input ng-model="informacoesParaPagamento.NomeTitular" class="form-control text-box single-line" type="text">
                      <span class="field-validation-valid text-danger">
                        <span ng-hide="informacoesParaPagamento.validation.nomeTitularRequiredOk">Campo nome do titular obrigatório.</span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-2" for="CPF">CPF</label>
                  <div class="col-md-10">
                      <input ng-model="informacoesParaPagamento.CPF" class="form-control text-box single-line" type="text">
                      <span class="field-validation-valid text-danger">
                        <span ng-hide="informacoesParaPagamento.validation.CPFRequiredOk">Campo CPF obrigatório.</span>
                        <span ng-hide="informacoesParaPagamento.validation.CPFValidOk">Campo CPF inválido.</span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-2" for="Banco">Banco</label>
                  <div class="col-md-10">
                      <input ng-model="informacoesParaPagamento.Banco" class="form-control text-box single-line" type="text">
                      <span class="field-validation-valid text-danger">
                        <span ng-hide="informacoesParaPagamento.validation.bancoRequiredOk">Campo banco obrigatório.</span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-2" for="Agencia">Agência</label>
                  <div class="col-md-10">
                      <input ng-model="informacoesParaPagamento.Agencia" class="form-control text-box single-line" type="text">
                      <span class="field-validation-valid text-danger">
                        <span ng-hide="informacoesParaPagamento.validation.agenciaRequiredOk">Campo agência obrigatório.</span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-2" for="NumeroDaConta">Número da conta</label>
                  <div class="col-md-10">
                      <input ng-model="informacoesParaPagamento.NumeroDaConta" class="form-control text-box single-line" type="text">
                      <span class="field-validation-valid text-danger">
                        <span ng-hide="informacoesParaPagamento.validation.numeroDaContaRequiredOk">Campo número da conta obrigatório.</span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-2" for="TipoDeConta">Tipo de conta</label>
                  <div class="col-md-10">
                      <div class="row">
                          <div class="col-md-12 text-left">
                              <input ng-model="informacoesParaPagamento.TipoDeConta" value="0" type="radio">
                              <label for="Corrente">Corrente</label>
                          </div>
                          <div class="col-md-12 text-left">
                              <input ng-model="informacoesParaPagamento.TipoDeConta" value="1" type="radio">
                              <label for="Poupanca">Poupanca</label>
                          </div>
                      </div>
                      <span class="field-validation-valid text-danger">
                        <span ng-hide="informacoesParaPagamento.validation.tipoDeContaRequiredOk">Campo tipo de conta obrigatório.</span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                      <a href="/#!/candidato/createquestionariodehabilidades" class="btn btn-default">Voltar</a>
                      <input ng-click="finish()" value="Concluir" class="btn btn-default" type="submit">
                  </div>
              </div>
          </div>
      </form>
      <div><a href="#!/candidato">Voltar a listagem</a></div>
      <hr />
      <footer-component></footer-component>
  </div>
</div>
