<div class="container body-content">
  <h2>Cadastro de candidato</h2>
  <form>
      <div class="form-horizontal">
          <h4>Conhecimentos</h4>
          <hr>
          <div class="form-group">
              <label class="control-label col-md-2" for="Ionic">Ionic</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Ionic" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Ionic" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Ionic" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Ionic" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Ionic" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.ionicRequiredOk">Campo Ionic obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Android">Android</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Android" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Android" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Android" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Android" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Android" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.androidRequiredOk">Campo Android obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="IOS">IOS</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.IOS" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.IOS" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.IOS" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.IOS" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.IOS" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.iosRequiredOk">Campo IOS obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="HTML">HTML</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.HTML" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.HTML" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.HTML" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.HTML" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.HTML" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="CSS">CSS</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.CSS" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.CSS" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.CSS" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.CSS" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.CSS" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Bootstrap">Bootstrap</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Bootstrap" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Bootstrap" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Bootstrap" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Bootstrap" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Bootstrap" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.bootstrapRequiredOk">Campo Bootstrap obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="JQuery">JQuery</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.JQuery" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.JQuery" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.JQuery" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.JQuery" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.JQuery" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.jqueryRequiredOk">Campo JQuery obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="AngularJS">AngularJS</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.AngularJS" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.AngularJS" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.AngularJS" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.AngularJS" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.AngularJS" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.angularjsRequiredOk">Campo AngularJS obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Java">Java</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Java" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Java" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Java" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Java" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Java" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="AspNetMVC">ASP Net MVC</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.AspNetMVC" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.AspNetMVC" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.AspNetMVC" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.AspNetMVC" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.AspNetMVC" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.aspnetmvcRequiredOk">Campo AspNetMVC obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="C">C</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.C" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.C" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.C" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.C" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.C" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="CPlusPlus">C++</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.CPlusPlus" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.CPlusPlus" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.CPlusPlus" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.CPlusPlus" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.CPlusPlus" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Cake">Cake</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Cake" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Cake" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Cake" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Cake" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Cake" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Django">Django</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Django" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Django" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Django" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Django" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Django" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Magento">Magento</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Magento" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Magento" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Magento" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Magento" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Magento" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="PHP">PHP</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.PHP" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.PHP" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.PHP" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.PHP" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.PHP" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.phpRequiredOk">Campo PHP obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Wordpress">Wordpress</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Wordpress" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Wordpress" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Wordpress" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Wordpress" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Wordpress" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                    <span ng-hide="questionarioDeHabilidades.validation.wordpressRequiredOk">Campo Wordpress obrigatório.</span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Phyton">Phyton</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Phyton" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Phyton" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Phyton" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Phyton" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Phyton" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Ruby">Ruby</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Ruby" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Ruby" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Ruby" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Ruby" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Ruby" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="SQLServer">SQLServer</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.SQLServer" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SQLServer" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SQLServer" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.SQLServer" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SQLServer" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="MySQL">MySQL</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.MySQL" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.MySQL" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.MySQL" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.MySQL" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.MySQL" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="SalesForce">SalesForce</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.SalesForce" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SalesForce" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SalesForce" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.SalesForce" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SalesForce" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Photoshop">Photoshop</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Photoshop" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Photoshop" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Photoshop" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Photoshop" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Photoshop" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="Illustrator">Illustrator</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Illustrator" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Illustrator" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Illustrator" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.Illustrator" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.Illustrator" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="SEO">SEO</label>
              <div class="col-md-10  text-center">
                  <div class="row">
                      <div class="col-md-1">
                          Não conheço
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.SEO" value="1" type="radio">
                          <label>1</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SEO" value="2" type="radio">
                        <label>2</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SEO" value="3" type="radio">
                        <label>3</label>
                      </div>
                      <div class="col-md-2">
                          <input ng-model="questionarioDeHabilidades.SEO" value="4" type="radio">
                          <label>4</label>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="questionarioDeHabilidades.SEO" value="5" type="radio">
                        <label>5</label>
                      </div>
                      <div class="col-md-1">
                          Sênior
                      </div>
                  </div>
                  <span class="field-validation-valid text-danger">
                  </span>
              </div>
          </div>
          <div id="questionarioDeHabilidadesField" class="form-group">
              <label class="control-label col-md-2" for="Outras">Informe neste campo outras linguagens e tecnologias que não foram listadas e o nível em cada uma delas.</label>
              <div class="col-md-10">
                  <textarea ng-model="questionarioDeHabilidades.Outras" cols="20" rows="2"></textarea>
                  <span class="field-validation-valid text-danger"></span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="LinkCRUDRepository">Link para acesso ao CRUD. Leia o documento de boas vindas para mais informações.</label>
              <div class="col-md-10">
                  <input ng-model="questionarioDeHabilidades.LinkCRUDRepository" class="form-control text-box single-line" type="text">
                  <span class="field-validation-valid text-danger"></span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="PortifolioURL">Link para acesso ao portifólio.</label>
              <div class="col-md-10">
                  <input ng-model="questionarioDeHabilidades.PortifolioURL" class="form-control text-box single-line" type="text">
                  <span class="field-validation-valid text-danger"></span>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <a href="/#!/candidato/createpreferenciasdetrabalho" class="btn btn-default">Voltar</a>
                  <input ng-click="next()" value="Próximo" class="btn btn-default" type="submit">
              </div>
          </div>
      </div>
  </form>
  <div><a href="#!/candidato">Voltar a listagem</a></div>
  <hr />
  <footer-component></footer-component>
</div>
